---
root: ..
title: Stanford University, May 2013
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include bootstrap-header.html %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .brand {
        background-color: transparent;
        background-image: url("{{page.root}}/logos/swc-logo.svg");
        background-repeat: no-repeat;
        background-size: auto 36px;
        background-position: center;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" href="{{page.root}}/logos/software-carpentry-avatar-71x71.jpg">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a class="brand" href="#" style="padding: 0px 40px 40px 0px;"></a>
              </li>
              <li><a href="#home">Home</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#install">Installation</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#thanks">Thanks</a></li>
              <li class="divider-vertical"></li>
              <li><a href="https://github.com/arokem/boot-camps/tree/2013-05-06-stanford">GitHub Repo</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="home" class="hero-unit">
        <div>
          <a href="http://software-carpentry.org">
            <img src="{{page.root}}/logos/software-carpentry-with-hammer.svg" style="float: right; height: 60px;">
          </a>
          <h1>Software Carpentry @ Stanfurd University</h1>
        </div>
        <br>
        <div class="row-fluid">
          <div class="span6">
            <p>Li Ka Shing Center for Learning and Knowldege (LKSC) room B005</p>
          </div>
          <div class="span6" style="text-align: right;">
            <p>May 6-7 2013<br>
               9:30 AM - 5:00 PM</p>
          </div>
        </div>
      </div> <!-- hero-unit -->

      <div id="schedule" class="row-fluid">
        <h2>Schedule</h2>
        <div class="span4">
          <strong>Day 1</strong>
          <table class="table">
            <tbody>
              <tr>
                <td>9:00 - 9:30</td>
                <td style="text-align: right;">Setup Help</td>
              </tr>
              <tr>
                <td>9:30 - 10:00</td>
				<td style="text-align: right;">Introduction</td>
			  </tr>
			  <tr>
				<td>10:00 - 11:00</td>
                <td style="text-align: right;">The Unix Shell: part 1</td>
              </tr>
              <tr>
                <td>11:00 - 11:15</td>
                <td style="text-align: right;">Coffee</td>
              </tr>
              <tr>
                <td>11:15 - 12:00</td>                
				<td style="text-align: right;">The Unix Shell: part 2</td>
              </tr>
              <tr>
                <td>12:00 - 1:00</td>
                <td style="text-align: right;">Lunch</td>
              </tr>
              <tr>
                <td>1:00 - 3:00</td>
                <td style="text-align: right;">Version control with git</td>
              </tr>
              <tr>
                <td>3:00 - 3:15</td>
                <td style="text-align: right;">Coffee</td>
              </tr>
              <tr>
                <td>3:15 - 5:00</td>
				<td style="text-align: right;">Programming in Python: introduction</td> 
              </tr>
            </tbody>
          </table>
          <strong>Day 2</strong>
          <table class="table">
            <tbody>
              <tr>
                <td>9:30 - 11:00</td>
                <td style="text-align: right;">Scientific computing in Python </td>
            </tr>
				  <tr>
                <td>11:00 - 11:15</td>
                <td style="text-align: right;">Coffee</td>
              </tr>
              <tr>
                <td>11:15 - 12:30</td>
				<td style="text-align: right;">Software validation and testing </td>
              </tr>
              <tr>
                <td>12:30 - 1:30</td>
                <td style="text-align: right;">Lunch</td>
	          </tr>
              <tr>
                <td>1:30 - 3:30</td>
		   	 <td style="text-align: right;">Data exploration and visualization</td>                
              </tr>
              <tr>
                <td>3:30 - 3:45</td>
                <td style="text-align: right;">Coffee</td>
              </tr>
              <tr>
                <td>3:45 - 4:00</td>
                <td style="text-align: right;">Wrap-up and feedback</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- schedule -->
      <hr>
      <div>
        <h2 id="install">Installation</h2>
        
        <h3>Installation requirements</h3>
        <p>To participate in the workshop you will need several things running on
		   your laptop computer: a Bash shell, Git, a code editor (though any
		   plain text editor will work in a pinch), and a scientific Python
		   installation that includes the
           <a href="http://ipython.org/ipython-doc/dev/interactive/htmlnotebook.html">IPython notebook</a>,
		<a href="http://numpy.scipy.org/">numpy</a>, <a href="http://scipy.org">scipy</a>
			
 	   and <a href="http://matplotlib.org/">matplotlib</a>.</p>
			
			To make setup easier, we have prepared a virtual machine that includes
			all of these requirements (see instructions below). 
			
			<h4>Even if you plan to install things yourself please download
           VirtualBox and the virtual machine as a backup. It can be
           extremely difficult to get everything set up correctly.</h4>
		
		<h3>Virtual Machine</h3>
        <p>The simplest way to install all the requirements is to use a virtual
		   machine. To get that, please install
           <a href="https://www.virtualbox.org/">VirtualBox</a> and download
           <a href="http://is.gd/MosNIh">this virtual machine image</a>. Load the
		   VM into VirtualBox by doing Import Appliance and loading the .ova file.</p>

   		<h3>Other options for installing the requirements on different systems</h3>
           <p>The following table contains suggestions for installing the
			  different required software on different platforms (Mac, Windows and
			  Linux)</p>     
        <div class="row-fluid">
          <div class="span6">
            <h4 class="well well-small">Bash</h4>
            <h5>Mac</h5>
            <p>The default shell in Mac OS X is bash.</p>
            <h5>Windows</h5>
            <p>Install <a href="http://msysgit.github.com/">Git Bash</a>
               following the instructions
               <a href="https://openhatch.org/missions/windows-setup/install-git-bash">here</a>.</p>
            <h5>Linux</h5>
            <p>The default shell is usually bash but if not you can
               get to bash by opening a terminal and typing <code>bash</code>.</p>
          </div>
          <div class="span6">
            <h4 class="well well-small">Git</h4>
            <h5>Mac</h5>
            <p>Install
               <a href="https://developer.apple.com/xcode/">Xcode</a>
               and the command line tools (from the Download
               preferences pane) or
               <a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3">install just Git</a>.</p>
            <h5>Windows</h5>
            <p>Install <a href="http://msysgit.github.com/">Git Bash</a>
               following the instructions
               <a href="https://openhatch.org/missions/windows-setup/install-git-bash">here</a>.</p>
            <h5>Linux</h5>
            <p>If git is not already available on your machine you can try
               to install it via your distro's package manager
               (e.g. <code>apt-get</code>).</p>
          </div>
        </div> <!-- row1 -->

        <div class="row-fluid">
          <div class="span6">
            <h4 class="well well-small">Code Editor</h4>
            <h5>Mac</h5>
            <p>We recommend
               <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a>,
               <a href="http://www.sublimetext.com/">Sublime Text</a>, or
               <a href="https://github.com/textmate/textmate">Text Mate 2</a>.</p>
            <h5>Windows</h5>
            <p><a href="http://notepad-plus-plus.org/">Notepad++</a> is a
               popular free code editor for Windows.</p>
            <h5>Linux</h5>
            <p><a href="http://kate-editor.org/">Kate</a> and
               <a href="http://projects.gnome.org/gedit/">gedit</a> are options
               for Linux users.</p>
          </div>
          <div class="span6">
            <h4 class="well well-small">Python</h4>
            <p>We recommend the all-in-one scientific Python installer
               <a href="http://continuum.io/anacondace.html">Anaconda CE</a>.
               Installation on Mac and Linux requires using the shell and if
               you aren't comfortable doing the installation yourself just
               download the installer and we'll help you at the boot camp.</p>
            <p>For other options check the Python4Astronomers page on
               <a href="http://python4astronomers.github.com/installation/python_install.html">
                installing scientific Python</a>.</p>
          </div>
        </div> <!-- row2 -->
      </div> <!-- installation -->
      <hr>
      <div id="contact">
        <h2>Contact</h2>
        <p>This workshop will be presented by
           <a href="http://arokem.org">Ariel Rokem</a>
           , <a href="http://pirsquared.org">Paul Ivanov</a> and Bernhard Konrad.
           For more information contact
           <a href="mailto:info@software-carpentry.org">info@software-carpentry.org</a>.
      </div> <!-- contact -->

      <div id="thanks">
        <h2>Thanks</h2>
		
        <p>The workshop is brought to you with kind support from the <a href="http://cni.stanford.edu"> Stanford Center for Cognitive and Neurobiological Imaging </a> and <a href="http://neuroscienceprogram.stanford.edu/"> Stanford's Neuroscience PhD Program </a>. We thank Dr. Bob Dougherty, Prof. Miriam Goodman and Prof. John Huguenard for helping to bring Software Carpentry to the Stanford Biosciences community.</p>
      </div> <!-- thanks -->


    </div> <!-- /container -->

    {% include footer-javascript.html %}

  </body>
</html>

